
.slick-list {
  overflow: hidden;
  padding: 0;
  
}

.slick-slider {
  position: relative;
}

.slick-slide {
  outline: none;
  &:active {
  outline: none
  }
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  height: 32px;
  width: 26px;
  font-size: 0; 
  outline: none;
  border: 0;

  &.slick-prev {
    left: 0;
    background: url('../assets/images/arr-left.svg') 0 0 / 100% no-repeat;
  }
  &.slick-next {
    right: 0;
    background: url('../assets/images/arr-right.svg') 0 0 / 100% no-repeat;
  }
}

.header-slider {
  & .slick-arrow {
    margin: 0 10px;
    filter: brightness(70%);
    cursor: pointer;
    &:hover {
      filter: none;
    }
  }
  & .slick-track {
    display: flex;
  }slick-slide:active
}

.header-nav {
  &__item {
    padding-bottom: 5px;
    outline: none;
    cursor: pointer;
  }
  
  & .slick-track {
    padding: 0 2vw;
    grid-column-start: -2;
    grid-column-end: -1;
    grid-row-start: 2;
    height: 220px;
  }
}