@import "vars.scss", "lib/slick.scss";

%row {
  grid-row-start: 2;
}

.header {
  width: 100vw;
  height: 820px;
  
  &.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 35px 720px 50px;
  }
  
  &-block {
    grid-column: 1;
    @extend %row;

    &-text {
      margin-bottom: 50px;
      &__title {
        font: $font-title;
        margin-bottom: 20px;
      }

      &__subtitle {
      font: $font-subtitle;
      }
    }

    &-contact {
      font: $font-text;
      color: var(--sub-color);

      &__address {
        margin-bottom: 15px;
        & span {
          display: block;
        }
      }

      &__mail {
        display: block;
        &:link, &:visited, &:hover, &:after {
          color: var(--sub-color);
          text-decoration: none;
          list-style-type: none;
        }
        &:hover {
          color: var(--second-color);
        }
      }
    }
  }

  &-slider {
    grid-column:2;
    @extend %row;
  }

  &-nav {
    grid-column: 3;
    @extend %row;
  }

}