@import "vars.scss", "lib/slick.scss";


main {
  background: var(--second-color);
}

.main {
  height: 700px;
  padding-top: 35px;
  padding-bottom: 50px;
  margin-bottom: -1px !important;
  &-text {
    &__title {
      margin-bottom: 20px;
      font: $font-title;
      color: var(--first-color);
      }

      &__subtitle {
        font: $font-subtitle;
        color: var(--footer-sub-color);
      }
    }
}