@import "vars.scss", 'header.scss', 'main.scss', 'footer.scss', 
'lib/magnific-popup.scss', 'fonts.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  word-wrap: break-word;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 2vw;
  padding-right: 2vw;
  overflow-x: hidden; 
}