$font-title: bold 4.5em/0.9em Open Sans, Roboto, Arial, sans-serif;
$font-subtitle: 400 1.5em/1.3em Roboto, Arial, sans-serif;
$font-text: 500 1em/1.4em Roboto, Arial, sans-serif;
$popup-font: 400 1em Roboto, Arial, sans-serif;


:root {
--sub-color: #606060;
--first-color: #ffffff;
--second-color: #000000;
--color-button: #2400fe;
--color-send-text: #03b300;
--error-bg-color: #ffd5d6;
--error-text-color: #c00000;
--footer-sub-color: #9d9d9d
}
