footer.footer
  .footer-block
    .footer-block-text
      h1.footer-block-text__title Написать нам
      p.footer-block-text__subtitle Заполните форму справа
      p.footer-block-text__subtitle или отправьте письмо на shop@reproduct.io
    .footer-block-sub
      p.footer-block-sub__text Репродукцио, 2019
      a.footer-block-sub__rools Правила обработки персональных данных
  .footer-input 
    input(type="text" name="text" placeholder="Эл. почта").footer-input__mail
    input(type="text" name="text" placeholder="Сообщение").footer-input__text
    input(type="button" value="Отправить сообщение").footer-input__send