include mixin

header.header.container
  .header-block
    .header-block-text 
      h1.header-block-text__title Репро<br>дукцио
      p.header-block-text__subtitle Оффлайн-магазин репродукций шедевров мирового искусства
    .header-block-contact 
      p.header-block-contact__address <span itemprop='address'>Санкт-Петербург,</span> ул. Адмирала Черокова, 18
      span(itemprop='telephone').header-block-contact__number +7 812 960-22-01
      a(href = "mailto:shop@reproduct.io" itemprop='email').header-block-contact__mail shop@reproduct.io
  .header-slider
      - var classname = 'header-slider__item'
      +image('1-slider/serafim.jpg', "Шестикрылый Серафим")
      +image('1-slider/christ.jpg', "Триумф Нептуна и Амфитриты")
      +image('1-slider/triumf.jpg', "Явление Христа народу")
  .header-nav
    - var classname = 'header-nav__item'
    +image('1-slider/m_serafim.jpg', "Шестикрылый Серафим")
    +image('1-slider/m_christ.jpg', "Триумф Нептуна и Амфитриты")
    +image('1-slider/m_triumf.jpg', "Явление Христа народу")