header.header
  .header-block
    .header-block-text 
      h1.header-block-text__title Репро<br>дукцио
      p.header-block-text__subtitle Оффлайн-магазин репродукций шедевров мирового искусства
    .header-block-contact 
      p.header-block-contact__address <span>Санкт-Петербург,</span> ул. Адмирала Черокова, 18
      span.header-block-contact__number +7 812 960-22-01
      a(href = "mailto:shop@reproduct.io").header-block-contact__mail shop@reproduct.io
  .header-slider
    .header-slider__item 
      img(src="assets/1-slider/serafim.jpg", alt="Шестикрылый Серафим")
    .header-slider__item 
      img(src="assets/1-slider/christ.jpg", alt="Триумф Нептуна и Амфитриты")
    .header-slider__item 
      img(src="assets/1-slider/triumf.jpg", alt="Явление Христа народу")
  .header-nav
    .header-nav__item 
      img(src="assets/1-slider/m_serafim.jpg", alt="Шестикрылый Серафим")
    .header-nav__item 
      img(src="assets/1-slider/m_christ.jpg", alt="Триумф Нептуна и Амфитриты")
    .header-nav__item 
      img(src="assets/1-slider/m_triumf.jpg", alt="Явление Христа народу")