doctype html
html(lang="ru")
  include head.pug
body(itemscope itemtype="https://schema.org/Organization")
  include header.pug
  include main.pug
  include footer.pug

  script(src="scripts/bundle.js")
