doctype html
html(lang="ru")
  include head.pug
body
  include header.pug
  include main.pug
  include footer.pug
  script(src="http://code.jquery.com/jquery-3.3.1.min.js")
  script(src="scripts/parts/slick.js")
  script(src="scripts/parts/sliders.js")
  script(src="scripts/parts/email-check.js")
  script(src="scripts/parts/validate.js")
  script(src="scripts/script.js")
