doctype html
html(lang="ru")
  include head.pug
body(itemscope itemtype="https://schema.org/Organization")
  include header.pug
  include main.pug
  include footer.pug

  //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src="scripts/parts/slick.js")
  script(src="scripts/bundle.js")
