include mixin
main
  .main.container
    .main-text
      h1.main-text__title Популярное
      p.main-text__subtitle Нестареющая классика и бестселлеры
    .main-slider
      - var classname = 'main-slider__item' 
      +image('devushka.jpg', 'Девушка с жемчужной серёжкой')
      +image('bonapart.jpg', 'Бонапарт на перевале')
      +image('ohotniki.jpg', 'Охотники на снегу')
      +image('serafim.jpg', "Шестикрылый Серафим")
      +image('christ.jpg', "Триумф Нептуна и Амфитриты")
      +image('triumf.jpg', "Явление Христа народу")