svg(width="17" height="15" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg").mfp-close
  path(d="M1.76145 1L17 16.2385M16.2385 1L1 16.2385" stroke="red" stroke-width="2")
h2.footer-popup__title Правила обработки персональных данных
p.footer-popup__text Предоставляя свои персональные данные Пользователь даёт согласие на обработку, 
  | хранение и использование своих персональных данных на основании ФЗ № 152-ФЗ 
  | «О персональных данных» от 27.07.2006 г. в следующих целях:
p.footer-popup__text
  span.footer-popup__text-sub Осуществление клиентской поддержки
  span.footer-popup__text-sub Получения Пользователем информации о маркетинговых событиях
  span.footer-popup__text-sub Проведения аудита и прочих внутренних исследований с целью повышения качества 
    | предоставляемых услуг.
p.footer-popup__text Под персональными данными подразумевается любая информация личного характера, 
  | позволяющая установить личность Пользователя/Покупателя такая как:
  span.footer-popup__text-sub Фамилия, Имя, Отчество
p.footer-popup__text Персональные данные Пользователей хранятся исключительно на электронных носителях и
  | обрабатываются с использованием автоматизированных систем, за исключением случаев, 
  | когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.
p.footer-popup__text Компания обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих случаев:
p.footer-popup__text По запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке, установленным законодательством РФ
p.footer-popup__text Компания оставляет за собой право вносить изменения в одностороннем порядке в настоящие правила, при условии, что изменения не 
  | противоречат действующему законодательству РФ. Изменения условий настоящих правил вступают в силу после их публикации на Сайте. данных